*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input{
    padding: 10px 60px;
    margin-top: 10px;
}

button{
    padding: 10px 15px;
    width: 100%;
    margin-top: 10px;
}