html{
    margin:0 auto;
}
body{
    background: #323232;
    color:white;
}
.containe{
    display: flex;
    justify-content:center;
    align-items: center;
    align-content: center;
    margin-top:10rem ;
}
